// Screen Sizes
$middle-size: 940px;

// Cores
$colorBlack: #000;
$colorBlackLight: #000;
$colorBlueDark: blue;
$colorWhite: #fff;
$pink: #F1499B;
$gray: #8A8A8A;
$gray--border: #979797;
$gray--arrows: #979797;
$gray--light: #D3D2D3;
$gray--light2: #9B9B9B;
$gray--light3: #f0f0f0;
$gray--dark: #4A4A4A;
$blue: #91DAE1;

$color-card-border: $gray;
$color-card-title: $pink;
$color-card-text: $gray;
$color-bg-card-link: $pink;
$color-bg-content-carousel: $blue;
$color-bullet-carousel: $gray--light;
$color-arrows-carousel: $gray--arrows;

// Inscricao
$color-form-bg-header: $pink;
$color-form-subtitle: $pink;
$color-form-border: $gray--border;
$color-form-info-msg: $pink;
$color-form-label: $gray--dark;
$color-form-text: $gray--light2;
$color-form-bg-button: $pink;
$color-form-link: $pink;
$color-form-error: $pink;
$color-form-button: $pink;
$color-form-bg-button-div: $gray--light3;


// Fontes
$fontSize: 16;